ul,li,body,p,h1,h2,h3,div,span {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

body {
  background-color: #add8e6 !important;
  background: url("http://www.westminster-church.org/assets/images/library.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  border-top: 1px solid #969688 !important;
}

#side-bar hr {
  border-top: 1px solid white !important;
}

#nav {
  position: relative;
  background-color: #335CAD;
  color: white;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: -1px -13px 12px 14px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -13px 12px 14px rgba(0,0,0,0.75);
  box-shadow: -1px -13px 12px 14px rgba(0,0,0,0.75);
}

#logo {
  margin-left: 30px;
  margin-top: 10px;
  position: absolute;
  font-size: 40px;
}

.light-text {
  font-weight: 300;
}

.normal-text {
  font-weight: 400;
}

.heavy-text {
  font-weight: 500;
}

.book-index-item {
  position: relative;
  list-style-type: none;
  display: inline;
  margin: 10px;
  text-align: center;
}

.book {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  transition: all .5s ease-in-out;
  z-index: 20;
}


.book-show {
  top: 0;
}

.book-hide {
  top: 100%;
}

.book-index {
  display: inline-block;
  margin: 20px;
  text-align: center;
  margin-left: 42px;
}

.book-title {
  margin-bottom: 10px;
}

.book-author {
  font-style: italic;
  margin-left: 20px;
}

.book-description {
  margin-top: 20px;
}

.hide {
  display: none;
}

.grow {
  transform: scale(1.25);
  z-index: 1000;
}

.cover-image {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
  transition: all .2s ease-in-out;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  cursor: pointer;
}

.carousel-arrow {
  -webkit-box-shadow: 0px 2px 12px 11px rgba(0,0,0,1);
  -moz-box-shadow: 0px 2px 12px 11px rgba(0,0,0,1);
  box-shadow: 0px 2px 12px 11px rgba(0,0,0,1);
  position: absolute;
  bottom: 30px;
  height: 60%;
  font-size: 80px;
  background-color: black;
  opacity: .7;
  color: ghostwhite;
  font-weight: 800;
  display: inline-block;
}

.carousel-arrow:hover {
  opacity: .9;
}

.left {
  background-image: url("http://cdn-5.freeclipartnow.com/d/40370-1/arrow-stubby-left.jpg");
  background-size: 100% 100%;
    background-repeat: no-repeat;
}

.right {
  background-image: url("http://cdn-2.freeclipartnow.com/d/40372-1/arrow-stubby-right.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.carousel-arrow:hover {
  color: gray;
  cursor: pointer;
}

.book-info {
  width: 600px;
  left: calc(50% - 300px);
  position: fixed;
  top: 110px;
  bottom: 220px;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  font-family: sans-serif;
  -webkit-box-shadow: 10px 10px 22px 31px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 22px 31px rgba(255,255,255,1);
  box-shadow: 10px 10px 22px 31px rgba(255,255,255,1);
  opacity: .9;
}

.description-wrapper {
  max-height: 40%;
  overflow-y: scroll;
}

.book-carousel {
  /*border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  border-radius: 5px;
  background-color: #d3d3d3;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 746px;
  padding: 5px;
  height: 180px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 .carousel-wrapper {
   width: 100%;
   position: fixed;
   bottom: 0;
 }

 .arrow {
   position: absolute;
   top: 35%;
   margin-top: -32px;
   font-size: 150px;
   color: #969696;
   font-family: arial, sans-serif;
   font-weight: bold;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
   opacity: .5;
 }

 .arrow:hover {
   color: #777;
 }

 .arrow:active {
   color: #000;
 }

 #prev {
   left: 10px;
 }

 #next {
   right: 10px;
 }

#area {
  height: 100%;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.book-status-bar {
  padding: 5px;
}

.book-status-bar button {
  margin: 2px;
}

.icon-bar {
  height: 5px;
  width: 25px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
  /*transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
}

#menu-icon-wrapper {
  float: right;
  margin: 20px;
  cursor: pointer;
}

#side-bar {
  /*text-align: center;*/
  padding: 20px;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #335CAD;
  color: white;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.side-bar-hide {
  right: -300px;
}

.side-bar-show {
  right: 0;
}

.menu-icon {
  height: 30px;
}

.first-bar-active {
  background-color: #335CAD;
}

.second-bar-active {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
}

.third-bar-active {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
